# 默认忽略的文件
/shelf/
/workspace.xml

## Core latex/pdflatex auxiliary files:
*.aux
*.log


## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.blg

## Build tool auxiliary files:
*.synctex.gz
#不忽略的文件
!/report/*.pdf