# 默认忽略的文件
/shelf/
/workspace.xml
../homework/homework2/02_DIPwithPyTorch/result.md
../project/code/000/
../project/related paper/
../script/

## Core latex/pdflatex auxiliary files:
*.aux
*.log


## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.blg

## Build tool auxiliary files:
*.synctex.gz
#不忽略的文件
!/report/*.pdf